map_path=content/maps/
tileset_path=content/tilesets/
sprite_scale_x=4
sprite_scale_y=4
tile_scale_x=4
tile_scale_y=4
screen_size_x=800
screen_size_y=600
sprite_path=content/sprites/
animation_path=content/animations/
camera_pan_factor=4
tile_types=test|16777471,testtest|16777471,asdf|255,eeee|255,asdfasdf|16777471,eeeeeeeee|65791,
